:root {
  --white: #FFFFFF;
--black: #000000;
--title-color : #FFFDE5;
--button-color : #FFFDE5;
--button-text: #342F5A;
--popup-button-color: #328BB8;
--popup-close-button: #AAAAAA;
--profile: #323363;

}
