:root {
  --white: #ffffff;
  --black: #000000;
  --title-color: #fffde5;
  --button-color: #fffde5;
  --button-text: #342f5a;
  --popup-button-color: #328bb8;
  --popup-close-button: #aaaaaa;
  --profile: #323363;
  --focus-color: #0561eb;
}
