/* 이 컴포넌트는 예시입니다 */
/*  */
/* PC ---------------------- */
body {
  position: relative;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  background-image: url(../../image/background.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}

/* 겉 박스 CSS */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-inline-size: 640px;
  inline-size: 80%;
  max-block-size: 100vh;
  block-size: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--title-color);
  border-radius: 15px;
}

/* 마이페이지 CSS */

/* 모바일 ---------------------- */
@media (min-width: 1024px) {
  /* 배경레이아웃 */
  body {
    inline-size: 100vw;
    block-size: 100vh;
  }
  .container {
    max-inline-size: 1020px;
    max-block-size: 700px;
    border: 2px solid var(--title-color);
  }
}
