/* 메인 환영 화면 */
.container.main-intro {
  .main-page-scroll {
    overflow-y: visible;
    justify-content: center;
  }

  .navi-layout {
    display: none;
  }

  .checkbox-button-area {
    input:disabled + label {
      transform: none;
      cursor: auto;
    }
  }
}

/* 기분/감정 조회 화면 */
.container.main-review {
  .page-layout-title {
    display: none;
  }

  .user-submit-area {
    display: none;
  }

  .checkbox-button-area {
    input:disabled + label {
      transform: none;
      cursor: auto;
    }
  }
}

/* 책 레이아웃 */
.main-page-scroll {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  width: 100%;

  .result-display,
  .section-page-layout {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .main-page-scroll {
    flex-flow: row;
    overflow-y: visible;
  }
}

.section-page-layout {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 640px;
  padding: 15px;
}

/* 책 레이아웃 > 로그인 레이아웃 */
.user-submit-area {
  margin-block-start: 40px;
  display: grid;
  margin: 40px auto 0;
  width: 282px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'check check'
    'login join';
  gap: 10px;
}

.section-page-area {
  position: relative;
}

/* 네비게이션 레이아웃 */
.navi-layout {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  z-index: 1;
}
