/* 책 레이아웃 */
.section-page-layout {
  display: flex;
  flex-flow: column;
  justify-content: center;

  /* 테스트를 위한 배경 */
  background-color: #222;
}

/* 책 레이아웃 > 로그인 레이아웃 */
.user-submit-area {
  margin-block-start: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'check check'
    'login join';
  gap: 10px;
}

/* 네비게이션 레이아웃 */
.navi-layout {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
}
