.auth-block {
  position: relative;
  max-inline-size: 100vw;
  max-block-size: 100vh;
  inline-size: 100%;
  block-size: 100%;

  .return-home {
    position: absolute;
    right: 0;
    padding: 20px;
  }

  .autu-box-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;

    .autu-title {
      padding-block-end: 20px;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      color: var(--white);
    }

    .autu-input-box {
      display: flex;
      flex-flow: nowrap column;
    }

    .autu-box-container {
      display: flex;
      flex-flow: nowrap column;
      gap: 20px;

      .add-box {
        inline-size: 240px;
        block-size: 52px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        color: var(--button-text);
        font-size: 14px;
        font-weight: 400;
      }

      .warning-block {
        margin-block-start: 3px;
        font-size: 14px;
        font-weight: 400;
        color: var(--white);
        visibility: hidden;
        min-block-size: 1.5em;
      }

      .submit-button {
        text-decoration: none;
        align-content: center;
        text-align: center;
        block-size: 52px;
        padding: 0;
        background-color: var(--button-color);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        color: var(--button-text);

        &[aria-disabled='true'] {
          background-color: var(--popup-close-button);
          color: var(--white);
          cursor: not-allowed;
        }
      }
    }
  }

  .join-button {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    inline-size: 240px;
    padding-block-start: 40px;

    .join-to-button {
      text-decoration: none;
      text-align: center;
      align-content: center;
      inline-size: 160px;
      block-size: 30px;
      padding: 0;
      background-color: var(--button-color);
      border-radius: 10px;
      font-size: 14px;
      font-weight: 700;
      color: var(--button-text);
    }

    .join-caption {
      font-size: 12px;
      color: var(--white);
    }
  }

  /* 기존 원본 코드에서 모바일 크기로 수정하고, 데스크탑용 사이즈는 따로 작성 */
  @media (min-width: 1024px) {
    .autu-box-form {
      .autu-title {
        font-size: 32px;
      }

      .autu-box-container {
        .add-box {
          inline-size: 340px;
          font-size: 16px;
        }
      }
    }

    .join-button {
      inline-size: 340px;

      .join-to-button {
        inline-size: 210px;
      }
    }
  }
}
