/* 팝업 공통 */
.common-dialog,
.my-page-dialog {
  border: none;
  border-radius: 20px;
  padding: 40px 30px;
  width: calc(100% - 40px);
  max-width: 335px;
  background-color: var(--white);
  box-sizing: border-box;
  position: relative;
}

.login-dialog,
.heart-list-dialog,
.change-pw-dialog {
  text-align: center;
}

.my-page-dialog {
  text-align: left;
}

/* 팝업 뒤 배경 블러처리 */
.common-dialog::backdrop,
.my-page-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.popup-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--black);
}

.popup-desc {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: var(--black);
}

.confirm-button {
  width: 100%;
  background-color: var(--popup-button-color);
  color: var(--white);
  border-radius: 8px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.confirm-button:hover {
  outline: 3px solid var(--primary-color);
}

.close-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;

  cursor: pointer;
  padding: 0;
}

/* 찜 버튼 */
.save-button .icon-heart-on {
  opacity: 0;
  transform: scale(1);
}

.save-button .icon-heart-off {
  opacity: 1;
  transform: scale(1);
}

/* 활성화 상태: On 아이콘은 나타남 */
.save-button.heart-active .icon-heart-on {
  opacity: 1;
  transform: scale(1);
}

/* 활성화 상태: 아이콘 사라짐 */
.save-button.heart-active .icon-heart-off {
  opacity: 0;
}

/* mypage */
.user-info-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.profile-circle {
  flex: 0 0 70px;
  height: 70px;
  background-color: #3a92c0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-data {
  flex: 1;
  min-width: 0;
}

.data-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  width: 100%;
}

.data-row dt {
  width: 70px;
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
  flex-shrink: 0;
}

.data-row dd {
  margin: 0;
  font-size: 15px;
  color: var(--black);
  flex: 1;
  text-align: left;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
  clear: both;
}

.my-page-button {
  flex: 1;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--popup-button-color);
  color: var(--white);
  border-radius: 8px;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
}

.my-page-button:hover {
  outline: 3px solid var(--primary-color);
}

.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.book-list li img {
  background: skyblue;
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 6px;
}

.book-list a:hover {
  display: block;
  outline: 3px solid var(--primary-color);
}

/* 데스크탑 사이즈 */
@media (min-width: 1024px) {
  .my-page-dialog {
    width: 60%;
    max-width: 800px;
    min-width: 640px;
    padding: 50px;
  }

  .user-info-section {
    flex-direction: row;
    gap: 40px;
  }

  .profile-circle {
    flex: 0 0 120px;
    height: 120px;
  }

  .book-list {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }
}

/* 찜항목 삭제 버튼 눌렀을때 활성화되는 삭제버튼 */
.delete-item-button {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;

  width: 24px;
  height: 24px;
  flex-shrink: 0;

  cursor: pointer;
  z-index: 10;

  align-items: center;
  justify-content: center;
  padding: 0;
}

.my-page-dialog.edit-mode .delete-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-page-dialog.edit-mode .book-list img {
  opacity: 0.7;
  filter: grayscale(0.5);
}

.book-list li {
  position: relative;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.empty-msg {
  grid-column: 1 / -1;
  padding: 40px;
  color: var(--black);
  text-align: center;
}

/* 비밀번호 변경 버튼 눌렀을 때 나오는 팝업 */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

.change-pw-dialog input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 16px;
}

.pw-error-msg {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 500;
  color: red;
  display: none;
}

.button-group {
  margin-top: 10px;
}
