.result-display {
  background-image: url('https://image.yes24.com/goods/169664844/XL');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(1, 1, 1, 0.5);
  background-blend-mode: multiply;
  
  margin: 0 auto;
  max-width: 640px;
  min-width: 300px;
  width: 100%;
  height: auto;
  min-height: 700px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--title-color);
  border-radius: 0 0 1.5% 1.5%;
  overflow: hidden;
}
/* 배경용 가상 요소 활용 */
.result-display::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  filter: blur(20px);
  z-index: -1;
}
@media (min-width: 1024px) {
  .result-display {
    width: 510px;
    border-radius: 1.5%;
    min-height: 900px;
  }
}

.loading-display {
  color: var(--white);
  display: none;

  .greeting-message {
    font-size: 24px;
  }

  &.result-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.result-contnet-display {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--white);

  &.result-active {
    display: flex;
  }
}

.recommend-phrase {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 64px;

  .book-title {
    font-size: 32px;
    font-weight: bold;
  }

  .author {
    font-size: 16px;
    font-weight: 200;
  }

  .phrase {
    font-size: 20px;
    font-weight: bold;
  }
}
@media (min-width: 1024px) {
.recommend-phrase {
  .book-title {
    font-size: 40px;
  }

  .author {
    font-size: 20px;
  }

  .phrase {
    font-size: 24px;
  }
}
}


.recommend-books {
  .recommend-lists {
    display: flex;
    margin-block-start: 16px;
  }
}

.recommend-books h2 {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .recommend-books h2 {
    font-size: 20px;
  }
}

.recommend-book-lists {
  width: 30%;
  max-width: 100px;
  aspect-ratio: 1/1.25;
  margin-inline: 16px;
}

.save-button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  overflow: hidden;
  display: block;
}
.save-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.recommend-book-lists img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 1024px) {
  .recommend-book-lists {
    max-width: 100px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spin 4s linear infinite;
}

.share-button {
  margin-block: 30px;
  background-color: var(--white);
  border: 2px solid var(--white);
  color: var(--black);
  border-radius: 30px;
}
